.banner_image {
  background-image: url("./../../assets/banner.png"),
    linear-gradient(rgba(21, 11, 43, 0.062), rgba(21, 11, 43, 0.164));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
}
